.title_text {
  font-weight: bold;
  font-size: 50px;
  line-height: 72px;
}

.button {
  padding: 0.8rem 2.2rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}
.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
}
.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}
.primary-button::after,
.secondary-button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  z-index: -1;
  border-radius: 4px;
  background: var(--gradient-color);
}

.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.6s ease;
}
.secondary-button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}
.para {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.font-roboto {
  font-family: var(--roboto);
}
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.title-h1 {
  font-weight: bold;
  font-size: 39px;
  font-weight: 40px;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1;
  left: 0;
  right: 0;
  background: white;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}
